<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="ch.ranta.eclipse.plugin.runallunittests.fragment"
         name="%extension.name"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="notexists"
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="ch.ranta.eclipse.plugin.runallunittests.Startup">
      </startup>
   </extension>

</plugin>
